body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(1, 66, 106); /* Dark blue background */
    color: #fff; /* White text */
}

header {
    background-color: rgb(0, 132, 61); /* Green header background */
    color: #fff; /* White text */
    padding: 15px; /* Increased padding for header */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center; /* Align items vertically in the center */
    justify-content: center; /* Center items horizontally */
}

nav li {
    margin-right: 30px; /* Adjusted margin between buttons */
    position: relative;
}

nav a {
    text-decoration: none;
    color: #fff; /* White text */
    font-weight: bold;
    font-size: 24px; /* Slightly reduced button size */
    position: relative;
    transition: color 0.3s, border-bottom-width 0.3s; /* Smooth color and border-bottom-width transition */
}

nav a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #fff; /* White underline color */
    bottom: -5px;
    left: 100%;
    transition: width 0.3s ease-in-out; /* Animation duration and easing */
}

nav a:hover::after {
    width: calc(100%); /* Adjusted to center the underline with padding */
}

nav a:hover {
    color: rgb(225, 181, 0); /* Yellow text on hover */
}

.logo-image {
    width: 200px; /* Adjusted the size of the logo */
}

.header-image {
    width: 100%;
    height: auto;
}

.places-section {
    text-align: center;
    padding: 20px;
    padding-bottom: 100px; /* Reduced padding-bottom for places-section */
}

.place-box::before {
    content: ''; 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background: rgba(0, 132, 61, 0); /* Transparent background initially */
    z-index: 1;
    transition: color 0.3s ease-in-out; /* Smooth background color transition */
}

.place-box {
    position: relative;
    display: inline-block;
    width: 300px;
    margin: 20px;
    padding: 20px;
    background-color: rgb(0, 132, 61); /* Green background for each place box */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.learn-more {
    position: absolute;
    bottom: 10px; /* Adjust the distance from the bottom */
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease-in-out; /* Smooth color transition */
    opacity: 0; /* Initially hidden */
}

.place-box:hover .learn-more {
    opacity: 1; /* Show on hover */
    color: rgb(225, 181, 0); /* Yellow text on hover */
}

.place-container {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping to the next line when there's not enough space */
    justify-content: right; /* Center the boxes horizontally */
    margin-top: -400px;
}

.about-section {
    text-align: center;
    padding: 40px;
    background-color: rgb(225, 181, 0); /* Yellow background for about section */
    color: #fff; /* White text */
    font-size: 25px;
    margin-top: -15px;
    border-color: black;
}

footer {
    background-color: #333; /* Dark gray background for footer */
    color: #fff; /* White text */
    text-align: center;
    padding: 15px; /* Increased padding for footer */
    position: fixed;
    bottom: 0;
    width: 100%;
}

.filter-section {
    border-color: rgb(0, 0, 0); /* Green background for filter section */
    color: #fff; /* White text */
    padding: 20px;
    width: 200px; /* Adjust the width of the filter section */
}

.filter-section h3 {
    font-size: 25px;
    margin-bottom: 10px;
    text-align: left;
}

.filter-section label {
    display: flex;
    margin-bottom: 20px;
    text-align: left;
    font-size: 18px;

}

.filter-section input {
    margin-right: 5px;
}